.version.index /* version checker */
{
	color: #0000E4;
	background-color: #926EFF;
}

.html
{
	background: #FFFFFF url("../images/bg.jpg") repeat center center scroll;
}

#page
{
	z-index: 1;
	width: 806px;
	min-height: 80px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 19px 124px 401px 130px;
}

#ppu459
{
	width: 0.01px;
}

#pu459
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 173px;
}

#u459
{
	z-index: 2;
	width: 150px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u460
{
	z-index: 55;
	width: 30px;
	margin-right: -10000px;
}

#u466-4
{
	z-index: 57;
	width: 120px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 30px;
}

#u480
{
	z-index: 62;
	width: 150px;
	height: 30px;
	margin-right: -10000px;
}

#u449
{
	z-index: 3;
	width: 150px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u440
{
	z-index: 49;
	width: 29px;
	margin-right: -10000px;
}

#u450-4
{
	z-index: 51;
	width: 121px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 29px;
}

#u479
{
	z-index: 61;
	width: 150px;
	height: 30px;
	margin-right: -10000px;
	margin-top: 1px;
}

.ie #u480,.ie #u479
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#menuu240
{
	z-index: 4;
	width: 806px;
	margin-top: 7px;
}

._menuu240.f3s_top
{
	width: 806px;
	height: 26px;
}

._menuu240.f3s_mid
{
	width: 806px;
	min-height: 5px;
}

._menuu240.f3s_bot
{
	width: 806px;
	height: 11px;
}

#u248
{
	width: 107px;
	min-height: 42px;
	margin-bottom: -37px;
	margin-right: -10000px;
	top: -26px;
}

#u251
{
	width: 105px;
	padding-bottom: 6px;
}

#u251:hover
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u251.MuseMenuActive
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u253
{
	height: 36px;
	width: 75px;
	margin-right: -10000px;
	top: 3px;
	left: 15px;
}

#u241
{
	width: 258px;
	min-height: 42px;
	margin-bottom: -37px;
	margin-right: -10000px;
	top: -26px;
	left: 109px;
}

#u244
{
	width: 256px;
	padding-bottom: 6px;
}

#u244:hover
{
	width: 256px;
	min-height: 0px;
	margin: 0px;
}

#u244:active
{
	width: 256px;
	min-height: 0px;
	margin: 0px;
}

#u244.MuseMenuActive
{
	width: 256px;
	min-height: 0px;
	margin: 0px;
}

#u245
{
	height: 36px;
	width: 227px;
	margin-right: -10000px;
	top: 3px;
	left: 14px;
}

#u242
{
	width: 273px;
	top: 42px;
}

._u243.f3s_mid
{
	width: 273px;
	min-height: 116px;
}

._u243.f3s_top,._u243.f3s_bot
{
	width: 273px;
	height: 11px;
}

#u243_position_content
{
	margin-top: -11px;
	margin-bottom: -11px;
}

#u333
{
	width: 271px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u333:hover
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u335-4_clip
{
	width: 108px;
	height: 33px;
}

#u335-4
{
	margin-right: -10000px;
	top: 5px;
	left: 79px;
}

#u345
{
	width: 271px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u333.MuseMenuActive,#u345:hover
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u347-4_clip
{
	width: 126px;
	height: 33px;
}

#u347-4
{
	margin-right: -10000px;
	top: 5px;
	left: 70px;
}

#u243,#u332,#u344,#u351
{
	width: 273px;
}

#u354
{
	width: 271px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u345.MuseMenuActive,#u354:hover
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u354.MuseMenuActive
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u356-4_clip
{
	width: 144px;
	height: 33px;
}

#u356-4
{
	margin-right: -10000px;
	top: 5px;
	left: 61px;
}

#u313
{
	width: 191px;
	min-height: 42px;
	margin-bottom: -37px;
	margin-right: -10000px;
	top: -26px;
	left: 369px;
}

#u314
{
	width: 189px;
	padding-bottom: 6px;
}

#u314.MuseMenuActive
{
	width: 189px;
	min-height: 0px;
	margin: 0px;
}

#u316
{
	height: 36px;
	width: 160px;
	margin-right: -10000px;
	top: 3px;
	left: 14px;
}

#u275
{
	width: 244px;
	min-height: 42px;
	margin-bottom: -37px;
	margin-right: -10000px;
	top: -26px;
	left: 562px;
}

#u276
{
	width: 244px;
	padding-bottom: 6px;
}

#u276.MuseMenuActive
{
	margin: 0px;
}

#u278
{
	height: 36px;
	width: 215px;
	margin-right: -10000px;
	top: 3px;
	left: 14px;
}

body
{
	position: relative;
	min-width: 1060px;
}

#page .verticalspacer
{
	clear: both;
}

