#u1415:active
{
	background: url("../images/u1415-m.png") no-repeat 0px 0px;
}

#u1159-4
{
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #FFFFFF;
	font-family: double-pica-small-caps, serif;
	font-weight: 400;
	position: relative;
}

#u1415
{
	vertical-align: top;
	position: relative;
	background: url("../images/u1415.png") no-repeat 9px 9px;
}

#u1178,#u1180,#u1182
{
	background-color: transparent;
	position: relative;
}

