#u1159-4
{
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #FFFFFF;
	font-family: double-pica-small-caps, serif;
	font-weight: 400;
	position: relative;
}

#u1160
{
	position: relative;
}

#u1166,#u1178,#u1180,#u1182
{
	background-color: transparent;
	position: relative;
}

