#u488
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #BFBFBF;
	background-color: rgba(127, 127, 127, 0.5);
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	position: relative;
	-pie-background: rgba(127, 127, 127, 0.5);
}

