.version.the_shade /* version checker */
{
	color: #0000F5;
	background-color: #201FD6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1021px;
	min-height: 373px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 65px 19px 62px 20px;
}

#u494
{
	z-index: 2;
	width: 829px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #BFBFBF;
	background-color: rgba(127, 127, 127, 0.5);
	position: relative;
	padding: 5px 41px 69.30000000000018px 149px;
	-pie-background: rgba(127, 127, 127, 0.5);
}

#u506
{
	z-index: 7;
	width: 720px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
	background-color: transparent;
	position: relative;
}

#u495-4
{
	z-index: 3;
	width: 520px;
	min-height: 474px;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	font-family: Times, Times New Roman, Georgia, serif;
	margin-left: 309px;
	margin-top: 27px;
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.5);
}

#u495-2
{
	padding-right: 10px;
	padding-left: 10px;
}

body
{
	position: relative;
	min-width: 1060px;
}

#page .verticalspacer
{
	clear: both;
}

