.version.the_shade_trilogy /* version checker */
{
	color: #000015;
	background-color: #4C86A0;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1060px;
	min-height: 694.8939143847671px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 20px;
}

#ppu459
{
	width: 0.01px;
	margin-left: 20px;
}

#pu459
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 170px;
}

#u459
{
	z-index: 3;
	width: 150px;
	margin-right: -10000px;
}

#u460
{
	z-index: 56;
	width: 30px;
	margin-right: -10000px;
}

#u466-4
{
	z-index: 58;
	width: 120px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 30px;
}

#u480
{
	z-index: 63;
	width: 150px;
	height: 30px;
	margin-right: -10000px;
}

#u449
{
	z-index: 4;
	width: 150px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u440
{
	z-index: 50;
	width: 29px;
	margin-right: -10000px;
}

#u450-4
{
	z-index: 52;
	width: 121px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 29px;
}

#u479
{
	z-index: 62;
	width: 150px;
	height: 30px;
	margin-right: -10000px;
	margin-top: 1px;
}

.ie #u480,.ie #u479
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u481
{
	z-index: 2;
	width: 1020px;
	padding-bottom: 2px;
	margin-left: 20px;
	margin-top: 1px;
}

#u482
{
	z-index: 64;
	width: 101px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 63px;
}

#menuu240
{
	z-index: 5;
	width: 806px;
	margin-right: -10000px;
	margin-top: 61px;
	left: 214px;
}

#u248
{
	width: 107px;
	min-height: 42px;
	margin-right: -10000px;
}

#u251
{
	width: 105px;
	padding-bottom: 6px;
}

#u251:hover
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u251.MuseMenuActive
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u253
{
	height: 36px;
	width: 75px;
	margin-right: -10000px;
	top: 3px;
	left: 15px;
}

#u241
{
	width: 258px;
	min-height: 42px;
	margin-right: -10000px;
	left: 109px;
}

#u244
{
	width: 256px;
	padding-bottom: 6px;
}

#u244:hover
{
	width: 256px;
	min-height: 0px;
	margin: 0px;
}

#u244:active
{
	width: 256px;
	min-height: 0px;
	margin: 0px;
}

#u244.MuseMenuActive
{
	width: 256px;
	min-height: 0px;
	margin: 0px;
}

#u245
{
	height: 36px;
	width: 227px;
	margin-right: -10000px;
	top: 3px;
	left: 14px;
}

#u242
{
	width: 273px;
	top: 42px;
}

._u243.f3s_mid
{
	width: 273px;
	min-height: 116px;
}

._u243.f3s_top,._u243.f3s_bot
{
	width: 273px;
	height: 11px;
}

#u243_position_content
{
	margin-top: -11px;
	margin-bottom: -11px;
}

#u333
{
	width: 271px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u333:hover
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u335-4_clip
{
	width: 108px;
	height: 33px;
}

#u335-4
{
	margin-right: -10000px;
	top: 5px;
	left: 79px;
}

#u345
{
	width: 271px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u333.MuseMenuActive,#u345:hover
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u347-4_clip
{
	width: 126px;
	height: 33px;
}

#u347-4
{
	margin-right: -10000px;
	top: 5px;
	left: 70px;
}

#u243,#u332,#u344,#u351
{
	width: 273px;
}

#u354
{
	width: 271px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u345.MuseMenuActive,#u354:hover
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u354.MuseMenuActive
{
	width: 271px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u356-4_clip
{
	width: 144px;
	height: 33px;
}

#u356-4
{
	margin-right: -10000px;
	top: 5px;
	left: 61px;
}

#u313
{
	width: 191px;
	min-height: 42px;
	margin-right: -10000px;
	left: 369px;
}

#u314
{
	width: 189px;
	padding-bottom: 6px;
}

#u314.MuseMenuActive
{
	width: 189px;
	min-height: 0px;
	margin: 0px;
}

#u316
{
	height: 36px;
	width: 160px;
	margin-right: -10000px;
	top: 3px;
	left: 14px;
}

#u275
{
	width: 244px;
	min-height: 42px;
	margin-right: -10000px;
	left: 562px;
}

#u276
{
	width: 244px;
	padding-bottom: 6px;
}

#u276.MuseMenuActive
{
	margin: 0px;
}

#u278
{
	height: 36px;
	width: 215px;
	margin-right: -10000px;
	top: 3px;
	left: 14px;
}

#u500
{
	z-index: 67;
	width: 1019px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #BFBFBF;
	background-color: rgba(127, 127, 127, 0.5);
	padding-bottom: 63px;
	margin-left: 20px;
	margin-top: 2px;
	position: relative;
	-pie-background: rgba(127, 127, 127, 0.5);
}

#u503
{
	z-index: 69;
	width: 500px;
	min-height: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 9px;
}

#u488
{
	z-index: 66;
	width: 1019px;
	height: 41px;
	margin-left: 20px;
	margin-top: 4px;
}

#u496
{
	z-index: 68;
	width: 22px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1138px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1060px;
}

#page .verticalspacer
{
	clear: both;
}

