.version.the_forgotten /* version checker */
{
	color: #0000FE;
	background-color: #CD5DE2;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1022px;
	min-height: 960px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 22px 19px 18px;
}

#u1406
{
	z-index: 37;
	width: 370px;
	background-color: transparent;
	margin-left: 326px;
	position: relative;
}

#pu1159-4
{
	width: 0.01px;
	margin-left: 1px;
}

#u1159-4
{
	z-index: 2;
	width: 62px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 33px;
}

#u1415
{
	z-index: 7;
	height: 68px;
	width: 128px;
	margin-bottom: -9px;
	margin-right: -10000px;
	margin-top: -9px;
	left: -9px;
}

#u1178
{
	z-index: 40;
	height: 58px;
	width: 58px;
	margin-bottom: -4px;
	margin-right: -10000px;
	margin-top: -4px;
	left: 806px;
}

#u1180
{
	z-index: 43;
	height: 58px;
	width: 58px;
	margin-bottom: -4px;
	margin-right: -10000px;
	margin-top: -4px;
	left: 872px;
}

#u1182
{
	z-index: 45;
	width: 39px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 947px;
}

#u1182:active
{
	margin: 6px -10000px 0px 0px;
}

#pu1298
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 5px;
}

#u1298
{
	z-index: 16;
	width: 490px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 520px;
}

._u1298.f3s_top
{
	background-image: url("../images/u1165-sprite.png");
	width: 490px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

._u1298.f3s_mid
{
	background-image: url("../images/u1165-sprite.png");
	overflow: visible;
	background-position: -490px top;
	width: 490px;
	height: 535px;
}

._u1298.f3s_bot
{
	background-image: url("../images/u1165-sprite.png");
	width: 490px;
	overflow: visible;
	height: 7px;
	background-position: -980px top;
}

#u1299
{
	z-index: 17;
	width: 1019px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #BFBFBF;
	background-color: rgba(127, 127, 127, 0.5);
	padding-bottom: 17px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127, 127, 127, 0.5);
}

#u1326-4
{
	z-index: 33;
	width: 490px;
	min-height: 493px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	color: #FFFFFF;
	font-family: double-pica-small-caps, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 519px;
}

#u1326-2
{
	padding-right: 10px;
	padding-left: 10px;
}

#slideshowu1300
{
	z-index: 18;
	width: 0.01px;
	height: 532px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 10px;
}

#u1312
{
	position: absolute;
	width: 490px;
	height: 451px;
	background-color: transparent;
}

#u1312popup
{
	z-index: 19;
}

#u1348
{
	z-index: 20;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u1315
{
	z-index: 22;
	width: 280px;
	height: 451px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 100px;
	padding-right: 110px;
	padding-bottom: 2px;
	margin-right: -10000px;
	position: relative;
}

#u1357
{
	z-index: 24;
	width: 490px;
	height: 451px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 50px;
	padding-bottom: 45px;
	margin-right: -10000px;
	position: relative;
}

#u1315 img.shadow,#u1357 img.shadow
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
}

#u1319
{
	position: absolute;
	width: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: 479px;
	left: 45px;
}

#u1319popup
{
	z-index: 26;
}

#u1351
{
	z-index: 27;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 100px;
}

#u1351_img
{
	padding-left: 8px;
	padding-right: 7px;
}

#u1324
{
	z-index: 29;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 170px;
}

#u1324_img
{
	padding-left: 16px;
	padding-right: 16px;
}

#u1360
{
	z-index: 31;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 240px;
}

#u1351.SSSlideLinkSelected,#u1324.SSSlideLinkSelected,#u1360.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 4px -10000px 0px 0px;
}

#u1360_img
{
	padding-top: 1px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1295
{
	z-index: 14;
	width: 207px;
	background-color: transparent;
	margin-left: 408px;
	margin-top: 5px;
	position: relative;
}

#u1458
{
	z-index: 9;
	width: 1020px;
	padding-bottom: 33px;
	margin-top: 5px;
}

#u1459-4
{
	z-index: 10;
	width: 190px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 415px;
}

body
{
	position: relative;
	min-width: 1060px;
}

#page .verticalspacer
{
	clear: both;
}

