.version.the_shade /* version checker */
{
	color: #000014;
	background-color: #B30F92;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1022px;
	min-height: 962px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	-moz-border-radius: 0px 0px 0px 10px ;
	-webkit-border-radius: 0px 0px 0px 10px ;
	-khtml-border-radius: 0px 0px 0px 10px ;
	border-radius: 0px 0px 0px 10px ;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 19px 18px;
}

#u1051
{
	z-index: 39;
	width: 380px;
	background-color: transparent;
	margin-left: 321px;
	position: relative;
}

#pu1159-4
{
	width: 0.01px;
	margin-left: 1px;
}

#u1159-4
{
	z-index: 2;
	width: 62px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 33px;
}

#u1415
{
	z-index: 7;
	height: 68px;
	width: 128px;
	margin-bottom: -9px;
	margin-right: -10000px;
	margin-top: -9px;
	left: -9px;
}

#u1178
{
	z-index: 42;
	height: 58px;
	width: 58px;
	margin-bottom: -4px;
	margin-right: -10000px;
	margin-top: -4px;
	left: 806px;
}

#u1180
{
	z-index: 46;
	height: 58px;
	width: 58px;
	margin-bottom: -4px;
	margin-right: -10000px;
	margin-top: -4px;
	left: 872px;
}

#u1182
{
	z-index: 49;
	width: 39px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 947px;
}

#u1182:active
{
	margin: 6px -10000px 0px 0px;
}

#pu1165
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 5px;
}

#u1165
{
	z-index: 18;
	width: 490px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 520px;
}

._u1165.f3s_top
{
	background-image: url("../images/u1165-sprite.png");
	width: 490px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

._u1165.f3s_mid
{
	background-image: url("../images/u1165-sprite.png");
	overflow: visible;
	background-position: -490px top;
	width: 490px;
	height: 428px;
}

._u1165.f3s_bot
{
	background-image: url("../images/u1165-sprite.png");
	width: 490px;
	overflow: visible;
	height: 7px;
	background-position: -980px top;
}

#u494
{
	z-index: 19;
	width: 1019px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #BFBFBF;
	background-color: rgba(127, 127, 127, 0.5);
	padding-bottom: 122px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(127, 127, 127, 0.5);
}

#u495-4
{
	z-index: 20;
	width: 490px;
	min-height: 442px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	color: #FFFFFF;
	font-family: double-pica-small-caps, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 519px;
}

#u495-2
{
	padding-right: 10px;
	padding-left: 10px;
}

#slideshowu1057
{
	z-index: 24;
	width: 0.01px;
	height: 532px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#u1066
{
	position: absolute;
	width: 490px;
	height: 451px;
	background-color: transparent;
}

#u1066popup
{
	z-index: 25;
}

#u1108
{
	z-index: 26;
	display: block;
	vertical-align: top;
	margin-bottom: -9px;
	margin-right: -10000px;
	position: relative;
}

#u1071
{
	z-index: 28;
	width: 280px;
	height: 451px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-left: 100px;
	padding-top: 2px;
	padding-right: 110px;
	margin-right: -10000px;
	position: relative;
}

#u1123
{
	z-index: 30;
	width: 480px;
	height: 451px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	padding: 44px 5px 43px;
}

#u1071 img.shadow,#u1123 img.shadow
{
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
}

#u1059
{
	position: absolute;
	width: 400px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: 479px;
	left: 49px;
}

#u1059popup
{
	z-index: 32;
}

#u1111
{
	z-index: 33;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 100px;
}

#u1111_img
{
	padding-left: 8px;
	padding-right: 7px;
}

#u1062
{
	z-index: 35;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 170px;
}

#u1062_img
{
	padding-left: 16px;
	padding-right: 16px;
}

#u1126
{
	z-index: 37;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 240px;
}

#u1111.SSSlideLinkSelected,#u1062.SSSlideLinkSelected,#u1126.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 4px -10000px 0px 0px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1534
{
	z-index: 16;
	height: 118px;
	width: 225px;
	margin-left: 398px;
	top: -4px;
	margin-bottom: -4px;
}

#u1458
{
	z-index: 10;
	width: 1020px;
	padding-bottom: 33px;
	top: -4px;
	margin-bottom: -4px;
}

#u1459-4
{
	z-index: 11;
	width: 190px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 33px;
	left: 415px;
}

body
{
	position: relative;
	min-width: 1060px;
}

#page .verticalspacer
{
	clear: both;
}

